<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
> 

<h:head><title>Login Form Page</title></h:head> 
<h:body> 
	<!-- composition template will use common items used such as a header, footer, etc. -->
	<ui:composition template = "/layouts/commonLayout.xhtml">	
		<ui:define name = "commonContent">
			<div align="center"> 			
				<form  method="post" action="j_security_check">
					<h:panelGrid columns="2">
						Username: <h:inputText style="width:100px;" id="j_username" autocomplete="off" />
						Password: <h:inputSecret style="width:100px;" id="j_password" autocomplete="off" />
					<h:commandButton type="submit" value="Submit"/>
					</h:panelGrid>
				</form>
				<h:messages />
			</div>
		</ui:define>
	</ui:composition>
			
			


</h:body> 

</html>
